<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe de Ventas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header>
        <nav class="navbar bg-success">
            <div class="container-fluid">
                <a href="../views/index.html" class="navbar-brand">
                    <img src="../assets/img/imagen-tunel.jpg" alt="Icono" width="150" height="50">
                </a>
                <form class="d-flex" role="search">
                </form>
                <div class="dropdown">
                    <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-circle" style="color: #ffffff;"></i> Perfil
                    </button>                        
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Cambiar contraseña</a>
                        <a class="dropdown-item" href="#">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        <h2>Informe de ventas diarias</h2>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Hora</th>
                    <th>Número de transacción</th>
                    <th>Código del producto</th>
                    <th>Descripción</th>
                    <th>Monto de ventas</th>
                </tr>
            </thead>
            <tbody>
                <td>10:31</td>
                <td>1001</td>
                <td>2020</td>
                <td></td>
                <td>10500</td>
            </tbody>
            <tbody>
                <td>10:41</td>
                <td>1002</td>
                <td>2130</td>
                <td></td>
                <td>15500</td>
            </tbody>
            <tbody>
                <td>10:52</td>
                <td>1003</td>
                <td>2025</td>
                <td></td>
                <td>20500</td>
            </tbody>
            <tbody>
                <td>11:11</td>
                <td>1004</td>
                <td>2027</td>
                <td></td>
                <td>13500</td>
            </tbody>
            <tbody>
                <td>11:15</td>
                <td>1005</td>
                <td>2123</td>
                <td></td>
                <td>16500</td>
            </tbody>
            <tbody>
                <td>11:21</td>
                <td>1006</td>
                <td>4312</td>
                <td></td>
                <td>12000</td>
            </tbody>
            <tbody>
                <td>11:27</td>
                <td>1007</td>
                <td>2650</td>
                <td></td>
                <td>8000</td>
            </tbody>
            <tbody>
                <td>11:33</td>
                <td>1008</td>
                <td>2176</td>
                <td></td>
                <td>5500</td>
            </tbody>
            <tbody>
                <td>11:39</td>
                <td>1009</td>
                <td>3131</td>
                <td></td>
                <td>14500</td>
            </tbody>
            <tbody>
                <td>11:42</td>
                <td>1010</td>
                <td>3871</td>
                <td></td>
                <td>10000</td>
            </tbody>
            <tbody>
                <td>11:49</td>
                <td>1011</td>
                <td>5232</td>
                <td></td>
                <td>21000</td>
            </tbody>
            <tbody>
                <td>12:01</td>
                <td>1012</td>
                <td>6512</td>
                <td></td>
                <td>11000</td>
            </tbody>
            <tbody>
                <td>12:12</td>
                <td>1013</td>
                <td>7831</td>
                <td></td>
                <td>11000</td>
            </tbody>
            
        </table>
        <div class="row">
            <div class="col">Total Venta</div>
            <div class="col">169500</div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>