* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: green;
}
nav:hover{
    color: white;

}
.navbar{
    border: 1px solid  rgb(25, 135, 84);
}
/* titulo de la w */
/* Estilos para el título de la vista */
.view-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    color: #395c44;
}

.view-title i {
    font-size: 60px;
    margin-right: 10px;
    color: #ffffff;
    background-color: #a3db09;
    padding: 10px;
    border-radius: 50%;
}
.linea {
    border-bottom: 1px solid;
}

#totalVenta {
    border: 2px solid green;
    width: 30%;
    text-align: center;
    float: right;
}


body {
    display: flex;
    flex-direction: column;
    align-items: normal;
    background-color: #fefefe;
    position: relative;
}

#tablas {
    width: 98%;
    height: auto;
    margin: 0 auto;
    overflow: auto;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.432);
}


label {
    font-weight: bold;
}

header {
    width: 100%;
}

#thead th {
    background-color: green;
    color: white;
}

.table {
    text-align: center;
}

footer {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 0px;
}

#totales {
    font-weight: bold;
}

.social-icons li i {
    color: white;
}