* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


nav{
    background-color: green;
}
nav:hover{
    color: white;

}

a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
}


#tablaVentasContainer {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    overflow: auto;
}
#tablaVentas thead {
    position: sticky;
    top: 0;
    background-color: #4caf50;
    color: white;
    z-index: 1;
}


#tablaVentas {
    width: 100%;
    border-collapse: collapse;

}
body {
    background-color: #D3D3D3;
}




#tablaVentas th,
#tablaVentas td {
    background-color: #f2f2f2;
    min-width: 140px;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#tablaVentas th {
    background-color: #4caf50;
    color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}
#tablaVentas tfoot {
    font-weight: bold;
    color: #4caf50;
}
footer{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 0px;
}
