* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* navbars rules */

nav{
    background-color: green;
}
nav:hover{
    color: white;

}

a {
    font-size: 20px !important;
    color: white !important;
    text-decoration: none !important;
    text-transform: capitalize !important;
    letter-spacing: 1px !important;
}
.container #bienvenida{
    padding-top:100px ;
    text-align: center;
    font-style: oblique;
    font-size: 30px;
}
.container .mensaje{
    text-align: justify;
    font-style: oblique;
    font-size: 25px;
}
.testimonial-image {
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}

#testimonials .section-title {
    margin-bottom: 30px;
}

.testimonial-item {
    text-align: center;
    padding: 30px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial-text {
    font-size: 16px;
    margin-bottom: 20px;
}

.testimonial-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.testimonial-status {
    font-size: 14px;
    color: #888;
}


footer {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 0px;
}

body {
    background-color: #D3D3D3;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%) !important;
}

/* modals */

.modal-content {
    background-color: rgb(117, 166, 31);
}

.modal-content legend, .modal-content h1{
    text-align: center;
}

.modal-body {
    font-weight: bold;
}