* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: #fefefe;
}
/* titulos h1 */
/* Estilos para el título de la vista */
.view-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    color: #395c44;
}

.view-title i {
    font-size: 60px;
    margin-right: 10px;
    color: white;
    background-color: #a3db09;
    padding: 10px;
    border-radius: 50%;
}
/* navbars rules */
nav:hover{
    color: white;

}

label.error {
    color: red;
    display: block;
    left: 145px
}

input.error {
    border: 1px solid red;
    font-weight: 300;
    color: red;
}

.container #bienvenida{
    padding-top:100px ;
    text-align: center;
    font-style: oblique;
    font-size: 30px;
}
.container .mensaje{
    text-align: justify;
    font-style: oblique;
    font-size: 25px;
}
.testimonial-image {
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}

#testimonials .section-title {
    margin-bottom: 30px;
}

.testimonial-item {
    text-align: center;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial-text {
    font-size: 16px;
    margin-bottom: 20px;
}

.testimonial-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.testimonial-status {
    font-size: 14px;
    color: #888;
}


footer {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 0px;
}
.social-icons li i {
    color: white;
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%) !important;
}

/* modals */

.modal-content {
    background-color: rgb(117, 166, 31);
}

.modal-content legend, .modal-content h1{
    text-align: center;
}

.modal-body {
    font-weight: bold;
}
/* efectos varios */
.productos {
    transition: transform 0.3s ease-out;
}
.productos:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}